*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
label,
input,
select,
button,
ion-icon {
  display: block;
  /* pointer-events: none; */
}

address {
  font-style: normal;
}

.footer {
  background-color: black;
  color: hsl(216, 12%, 84%);
  margin-block-start: 0px;
  padding-block-start: 100px;
  /* height: 50vh; */
  /* width: 100vh; */
}

.footer-text {
  line-height: 1.6;
  font-size: 15px;
  margin-left: 5%;
  margin-top: -5%;
}

.footer-top {
  padding-block: 10px;
}

.footer-top .container {
  display: grid;
  gap: 30px;
}

.footer-list-title {
  color: rgb(36, 227, 36);
  font-weight: 600;
  letter-spacing: 1px;
  margin-block-end: 25px;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.25 ease;
  overflow: hidden;
}
.footer-link:is(:hover, :focus) {
  opacity: 0.8;
}

.footer-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-item:nth-child(2) {
  align-items: flex-start;
}

.footer-list .footer-item:not(:last-child) {
  margin-block-end: 25px;
}

.footer-list li {
  margin-bottom: 15px;
}

.footer-item ion-icon {
  color: rgb(36, 227, 36);
  font-size: 22px;
  --ionicon-stroke-width: 40px;
}

.address {
  margin-top: -5%;
  margin-right: 10%;
}

.address-link {
  color: rgb(37, 218, 37);
  margin-block-start: 10px;
  transition: 0.25 ease;
}

.address-link:is(:hover, :focus) {
  opacity: 0.8;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 2px;
}
.socialIcon {
  color: white;
  font-size: 30px;
}

.map {
  margin-top: 25px;
}
.rounded {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media (min-width: 640px) {
  .footer {
    padding-block-start: 50px;
  }
  .footer-list {
    margin-left: 2%;
  }
  .address {
    align-items: center;
    text-align: center;
  }
  .footer-brand {
    padding-top: 8%;
  }
}
@media (min-width: 300px) {
  .footer-list {
    margin-left: 3%;
  }
  .address {
    align-items: center;
    text-align: center;
  }
  .footer-brand {
    margin-top: -30%;
  }
}

@media screen and (max-width: 600px) {
  .Logo-image {
    margin-top: 60px;
  }
}

@media screen and (min-width: 600px) {
  .footer {
    padding-block-start: 50px;
    /* margin-top: 20px; */
  }

  .footer-top .container {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
  }

  .footer-brand {
    grid-column: 1 / 4;
    margin-top: 20%;
  }

  .footer-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .copyright {
    margin-block-end: 0;
  }
}
@media (min-width: 992px) {
  .footer-brand {
    grid-column: auto;
    margin-top: -25%;
  }
  .Logo-image {
    margin-top: 15px;
  }
  .footer-top .container {
    grid-template-columns: 1fr 0.5fr 0.6fr 0.7fr;
  }
}
